[2021-07-26 13:53] cranberry-knight opened #5 "Generating docs for a function."
There is another idea for the next refactoring feature.

One could implement automatic documentation generation for a function. Based on its signature and body it could include:
- Summary
- Input parameters description
- Output description
- Raised exceptions description

[2021-07-28 02:50] ThePrimeagen commented on #5
I think there maybe a plugin to do this.  I'll have to look into it before I do something with comments :)

[2021-07-28 15:06] cranberry-knight commented on #5
I think it will be matched in one pass instead of two (for two queries).
Here is docs:
https://tree-sitter.github.io/tree-sitter/using-parsers#query-syntax

[2021-07-28 15:19] cranberry-knight commented on #5
There is one. I'll look a the plugin more.
https://github.com/nvim-treesitter/nvim-tree-docs

[2021-08-01 01:47] jrock2004 opened #12 "Scope is nil"
Not sure if you are ready for issues, if not just close. I took the example config and when I try any of the options I get

![image](https://user-images.githubusercontent.com/655716/127756562-73ebd5ae-3c60-4f96-98a5-b90610e119f7.png)

[2021-08-01 16:01] ThePrimeagen commented on #12
Yes this is something I need to fix. I'm going to try to fix it either today or in a little bit.

Could you give me the exact code you had and it's exact highlighted region?

[2021-08-01 16:02] ThePrimeagen opened #13 "Region: select text with column offset"
As of right now region uses a Vim API that does not consider column offset. To further complicate this Lua uses bytes when doing substrings, so we will have to use the Vim string apis

[2021-08-01 16:03] ThePrimeagen opened #14 "Region: tests needed"
This should be pretty easy to do. Effectively I want to make sure that the region API is correct on the innumerable amount of edge cases.

[2021-08-01 16:04] jrock2004 commented on #12
![image](https://user-images.githubusercontent.com/655716/127777641-dda04b53-90e8-41b4-a26f-a63714a00bd9.png)

Code just in case you want to copy to test

[code]

I get the same error in Lua files as well

[2021-08-01 16:11] ThePrimeagen commented on #12
Of course! This will be a great test.

[2021-08-02 13:58] danielnehrig commented on #12
@ThePrimeagen afaik this error only occurs if you enter visual mode the first time
so means:
if you do visual mode then normal mode then visual mode and then trigger refactoring there will be no error

https://streamable.com/qkccdm

[2021-08-02 16:54] jrock2004 commented on #12
@danielnehrig Let me try this because I think I tried this and was not so lucky

[2021-08-02 19:55] ThePrimeagen opened #17 "typescript: gg=G formatting works in practice, but not all the way in tests."
The test file for simple-function doesn't seem to get formatted completely.  The forloop gets correctly indented, but the const does not.

[2021-08-02 19:55] ThePrimeagen commented on #17
#16

[2021-08-03 02:15] ThePrimeagen opened #19 "Setup github to run tests!"

[2021-08-03 02:17] #17 closed

[2021-08-03 02:17] #14 closed

[2021-08-03 02:17] #13 closed

[2021-08-03 02:18] ThePrimeagen commented on #13
#18

[2021-08-03 02:19] ThePrimeagen commented on #12
interesting.

I have added a bunch of testing.  This should allow for this to work.

Checkout #18 #16 for the new testing harness.  I can translate your highlight and your code and create a failing test :)

[2021-08-03 02:19] ThePrimeagen opened #20 "Local variable for extract functions"
Right now return value and local variable is just `fill_in`.  probably should do something here.

[2021-08-03 08:37] TamaMcGlinn opened #21 "Comparison with LucHermitte/vim-refactor"
Hi. I just spotted [LucHermitte/vim-refactor](https://github.com/LucHermitte/vim-refactor) and wanted to be sure you weren't doing any duplicate work. He claims to have language-agnostic function & variable extraction working [(doesn't work for me though)](https://github.com/LucHermitte/vim-refactor/issues/1), so I guess he is using the same LSP-based approach as you.

[2021-08-03 14:02] ThePrimeagen commented on #21
I have two reasons why I'm doing this.

1. Really learning the book refactoring.
2. Really learning tree sitter and lsp.

At the end of the day there isn't a great solution out there yet. I'll go review his repo and see how far he's made it, but I'll probably continue on doing work regardless of how far he's gone.

[2021-08-04 03:14] ThePrimeagen commented on #21
After taking a moment to look at the repo.  We will shortly pass in supported refactors and languages.

I plan on implementing several more refactors.

[2021-08-04 03:15] #21 closed

[2021-08-04 12:46] olgam4 opened #23 "Refactor 'refactor' into an object"
In refactoring, a shell for 'refactor' is used. We could refactor this shell into a full-on class.

[2021-08-05 17:37] ethanfischer opened #24 "Cursor should stay in same position after extracting method"
In Visual Studio, intellisense offers the ability to extract a method from whatever you have highlighted at the time. When you do this, it creates the method and places your cursor where the method is now being called

Example:

`void main()
{
    var a = ExtractedMethod(); //<--cursor should be on this line. Not inside the ExtractedMethod implementation
}`

[2021-08-05 18:38] jrock2004 commented on #12
Updated and now running again and see

![image](https://user-images.githubusercontent.com/655716/128403452-8f02ccb8-d44e-4e0a-b88b-d45faa402946.png)

[2021-08-07 08:42] max397574 commented on #12
Have you got TreeSitter?

[2021-08-07 14:28] jrock2004 commented on #12
Yes

[2021-08-07 21:46] ThePrimeagen commented on #24
I totally agree!

This should be an easy fix

[2021-08-07 21:47] ThePrimeagen commented on #23
Agreed.

I was going to do that.  Including the text-edit portion.  It should just be a method `add_text_edit`.

[2021-08-07 21:47] ThePrimeagen commented on #20
still thinking about this.

[2021-08-08 02:16] cds-amal commented on #12
I have the same issue :(
<img width="1271" alt="refactor-screen" src="https://user-images.githubusercontent.com/2529600/128618541-3959753f-941f-49b6-b658-ae256f0ed4bc.png">

[2021-08-08 16:41] fabianschwarzfritz opened #32 "Setup help/guide"
Hi @ThePrimeagen ,

this is an absolute cool project, the Refactoring book has boosted my skill level like nothing else, even not vim. I'd love to contribute.

It's most likely a **_setup issue on my machine_**, I am also not the Neovim-plug-pro yet. I know GH issues are no place for setup help - however, I really don't know where else to look/check.... Maybe you have some ideas on how to set this

[2021-08-08 20:23] ThePrimeagen commented on #32
could you provide the code you have highlighted?  Or a brief form of it?

Also I don't know what `<leader>re` I assume refactor extract function.

If you could provide me what you have highlighted that would be great.  It looks like you have some sort of telescope issue.  Do you have telescope installed?  What does <leader>re do?

My guess is that you have something that needs to be worked out wit

[2021-08-08 20:23] ThePrimeagen commented on #32
You will need `plenary` for development.

https://github.com/nvim-lua/plenary.nvim

[2021-08-08 20:25] ThePrimeagen opened #33 "Start the official readme. Time to get serial about this project."

[2021-08-09 11:03] David-Else commented on #33
Just wanted to say I am REALLY looking forward to using this extension! I await a readme before I try it, as I am not really sure what it can do yet.

The closest tool I know of is 🧙‍ Abracadabra https://github.com/nicoespeon/abracadabra , which is VS Code and JS/TS only. He is also going full Martin Fowler, so some of the code might interest you!

[2021-08-09 18:39] fabianschwarzfritz commented on #32
Hi @ThePrimeagen ,

thanks for the quick reply 🥇 . These are actually two issues, so I have split them.

### **Issue "refactor extract function"**

Sure, I used one of the test files in this repository, [extract.simple-function.start.ts](https://github.com/ThePrimeagen/refactoring.nvim/blob/master/lua/refactoring/tests/extract.simple-function.start.ts) . I did highlight lines 4-6 (both including)

[2021-08-10 10:57] LucHermitte commented on #21
Hi.

In vim-refactor, I don' rely on LSP as this protocol did not exist by the time I've started working on vim-refactor. Instead I use ctags to find local variables, parameters, and so on, and then I try to take care of the extraction on vim side. Unfortunately ctags is quite bad to find everything I need and the result isn't very good.

LSP could have been nice however this protocol doesn't offe

[2021-08-10 18:06] ThePrimeagen opened #41 "make pr-ready fails"
Here you go @teddylear !  Here are the failures.

I cannot say how  much I appreciate this!

[code]

[2021-08-10 18:07] ThePrimeagen opened #42 "119: Extract var for golang"
#40

Needs `create_constant` in code generation.  Code generation also needs refactoring, so just follow what it does currently, and I'll refactor later ;)

[2021-08-10 18:08] ThePrimeagen opened #43 "119: Extract var for lua"
#40

Needs `create_constant` in code generation.  Code generation also needs refactoring, so just follow what it does currently, and I'll refactor later ;)

[2021-08-10 18:08] ThePrimeagen opened #44 "119: Extract Var for python"
#40

Needs `create_constant` in code generation.  Code generation also needs refactoring, so just follow what it does currently, and I'll refactor later ;)

[2021-08-10 18:16] ThePrimeagen commented on #24
I have moved this to high priority.  I really want this fixed @ethanfischer

Also going to be tackling the config soon to start adding options.

You could imagine the following

[code]

Thoughts on this side feature?

[2021-08-11 02:21] teddylear commented on #41
I can't seem to recreate this issue locally with my config. One thing I have noticed is that even with `nvim --noplugin -u lua/refactoring/tests/minimal.vim` I still have plugins because I'm using *packer.nvim* and it loads them under $XDG_DATA_DIR which appears to still be sourced by nvim even with `--noplugin` (at least it appears that way on my machine). A workaround might be to have `plenary.n

[2021-08-11 06:53] AckslD opened #46 "Unexpected behaviour in python"
Awesome work on this plugin! Just reporting some strange behaviour in python.

I tried this out on the following file:
[code]
with the two last lines selected and after extracting a function I ended up with
[code]

[2021-08-11 06:54] AckslD commented on #46
Maybe duplicate of #44?

[2021-08-11 11:50] quarkway opened #47 "Binding error - query.lua - attempt to index field 'query'"
Getting this error when calling `refactor('Extract Function')`:
[code]
Looks like a binding issue.
Tree-sitter works fine. It might be plenary (I only installed it for this test).
Anyone else getting this?

[2021-08-11 16:40] ThePrimeagen commented on #47
This is awesome.  Thanks for sharing.

Could you please provide the code you were using and the highlighted region?  If you cannot provide the code, can you change it enough to make it shareable?

Thanks :)

Also, I cannot imagine it being a bindings issue.

I checked everywhere that calls line 57 of query.  It is always called with `:` so it shouldn't be that.

Could you also `PlugUpdate` (or how

[2021-08-11 16:42] ThePrimeagen commented on #46
My guess is that we don't have a formatter for python yet.

I also haven't worked the config to be overridable yet.  This "should" fix the issue.  But let me play around with this shortly.  (I didn't add the python support and I was scared too due to whitespace being meaningful :))

[2021-08-11 18:12] quarkway commented on #47
Thanks for the quick reply!
It doesn't work on any file for me :bomb:
I'll do some more debugging later today, the idea is amazing and after seeing it, I *need* it :smile:

Here's my setup:
[code]

Sample file (js):
[code]

[2021-08-11 18:32] ThePrimeagen commented on #41
Hey, I can also make some efforts in making this better.

I would ideally want to make this work on github CI.  That means I could use the `test` command to prove the PR hasn't broken refactoring

[2021-08-11 18:36] quarkway commented on #47
Logged `self` at `query.lua:56` before it crashes:

[code]

[2021-08-11 19:12] quarkway commented on #47
This makes it work:

[code]

[2021-08-11 19:32] ThePrimeagen commented on #47
Ahah!  Yes!

We don't have javascript support quite yet.  Just typescript.

I'll try to get javascript up and running soon.

[2021-08-12 00:53] teddylear commented on #41
Created PR, let me know if this resolves the issue. I something in the description for how to run CI if this starts working.

[2021-08-12 17:57] ThePrimeagen commented on #43
There still needs to be the s-expr part of the change.  Needs a bit of work for `@definition.statement` & `@definition.block`.  Should be easy though

[2021-08-12 19:28] ThePrimeagen commented on #47
still working on tmux script, start this soon.

[2021-08-13 14:26] adgai19 opened #51 "Find similarly structured code"
This could be helpful while finding code that is repeated for function extraction. The result could be thrown inside a qf list. I think the necessary api is already in.

[2021-08-14 10:41] AckslD commented on #46
Cool! Yeah indeed whitespace in python could make it tricky (for example the above is not correct even up to formatting). Hopefully leveraging treesitter/lsp can make this possible :)

[2021-08-15 14:57] ThePrimeagen opened #60 "Thinking of Refactor object. Should we change it?"
First thought, what???

Second thought, why??

Ok, follow me.  The pipeline pattern that is emerging is a bit of a implied structure throughout the code and I don't like it.  It makes it hard for any new person to understand where things come from.  What if we strip out the logic and put them into functions that are called within the refactor operations.

example: I also don't mean to rid of all t

[2021-08-15 16:39] seblj opened #62 "Cancel refactor if no name specified"
Just want to start of saying that this project is really awesome, and I really look forward to seeing this project grow! I found a bug where the extraction of a function is done even if I want to cancel the input of inputing the function name. See video for an example

https://user-images.githubusercontent.com/5160701/129485702-00ee9f44-e05b-410e-a7b5-02485cb991e6.mov

[2021-08-15 16:40] seblj commented on #12
I also have this exact same problem

[2021-08-15 17:46] ThePrimeagen commented on #12
There we go!!! Examples are great! There is the problem!! Make sure you're up to date because I thought I've already fixed this. But to explain the problem here it is.

The top node must not be `(program)`.

[Current definition](https://github.com/ThePrimeagen/refactoring.nvim/blob/master/queries/typescript/refactoring.scm#L18)

I'll make a PR fixing this very soon. This should be easy.

[2021-08-15 18:08] seblj commented on #12
I actually think that the problem is in region.lua in the function `get_selection_range`. I think this is because something isn't updated right away. Check `:h line()` to see what I mean. I am currently looking into this, but I can't seem to find another way to get the rows and columns

[2021-08-15 18:14] seblj commented on #12
To follow up: What `get_selection_range` is doing now is taking the last visual range and getting the lines and column of that. So that could result in some strange behaviour. And the on the first visual range, it has no previous, therefore resulting in start_row, end_row, start_col and end_col all being 0

[2021-08-15 18:22] seblj commented on #12
Ok, it was a pretty easy fix for this on my part. I had to escape the visual-mode in the mapping before running the function. So if you are for example using the mapping from the README, they could be modified to escape before running the function like this.

[code]

[2021-08-15 18:24] ThePrimeagen commented on #12
Would it be reasonable to execute and escape command from within the selection setup task?

[2021-08-15 18:27] jrock2004 commented on #12
@seblj So I updated my keymap to what you have and when I use the code I originally posted I get

![image](https://user-images.githubusercontent.com/655716/129488628-cf76d249-8fe7-4385-88e1-bd53d5a6bf77.png)

[2021-08-15 18:29] ThePrimeagen commented on #12
@jrock2004 this one is easy to fix. There is no query language yet for JavaScript in this project. You could provide the exact same scheme definition for JavaScript as there is for typescript and everything would just work out of the box. If not I'll fix this shortly.

[2021-08-15 18:30] seblj commented on #12
Yes I believe so, because the way you are getting the start_row, start_col, end_row and end_col all depends on the marks of the previous visual range is set. And those are not set before exiting visual mode. Therefore, we need to escape visual mode to be able to get the rows and columns correctly

[2021-08-15 18:31] jrock2004 commented on #12
![image](https://user-images.githubusercontent.com/655716/129488689-7548014a-b393-4fb2-a2d7-7e7256445e6e.png)

Ah so maybe we should get which filetypes are supported

[2021-08-15 18:33] seblj commented on #12
I just read the question again, and maybe I misunderstood? If it looked like I misunderstood, please specify 😅

[2021-08-15 18:38] seblj commented on #12
The README should probably have the filetypes supported, but since this project is pretty new I assume he hasn't had time to add them there yet. However, to easily see the language that is worked on at the moment you could look inside the query folder. All the languages supported should have a folder inside there

[2021-08-15 19:20] teddylear commented on #41
I think this can be closed with linked PR merged.

[2021-08-15 19:23] teddylear commented on #62
I can take a look into this.

[2021-08-16 02:59] ThePrimeagen commented on #62
CHEERS!  THanks :)

[2021-08-16 02:59] #62 closed

[2021-08-17 20:08] alvarotroya commented on #44
I'll give this a try 😃

[2021-08-17 23:12] teddylear commented on #42
I can take a look into this.

[2021-08-18 01:55] ThePrimeagen opened #69 "Add official language support"
I think that we need to add an "official language" support.

I am pretty fine handling the following:

* typescript (I _may_ remember to do javascript too)
* golang
* cpp

(cpp isn't supported currently, but I'll want to support this long run)

Does anyone want to volunteer as the "go to" on the language?

[2021-08-18 02:25] teddylear opened #71 "Indent to same column position when replacing text"
One issue that I've seen with almost all of the languages is when text is replacing other text, it is not going to column where the first node remove was, it's always going to column 0 (or 1 if 1 is the start, I can't remember). From checking the function `vim.lsp.util.apply_text_edits` vs the treesitter node column, I don't know if this is possible but wanted to raise the issue in case I'm missin

[2021-08-18 16:21] ThePrimeagen commented on #71
I would LOVE to do this.

I was thinking about creating this during the `refactor` setup phase.  It determines the indent of current line.  Perhaps some simple line stats class dangling off of the `refactor` object (which should turn into a class soon)

[2021-08-18 16:22] muchzill4 commented on #71
I was thinking about this as well. I don't think we can depend solely on a formatter for a language like python, where whitespace carries meaning. I suppose we'd need to pass the information about the original ident around, so that the output can be _formatted_ accordingly. Also, worth considering situations where you may want to modify ident levels as you extract functions. Consider:

[code]

Ass

[2021-08-18 16:27] ThePrimeagen commented on #71
For 106 we would have to do the following:
1. Determine scope of refactor
2. Determine scope's indenting
3. Determine outer scope's indenting
4. Apply constant creation's indenting with scope's indenting level
5. Apply function creation with outer scope's indenting.

Each of these will have to have their own determination for indenting.  We will also have to use vim's tab settings to determine if

[2021-08-18 16:29] ThePrimeagen commented on #71
addressing @muchzill4 great points, we will also need to consider pulling functions out as class level vs out side class level.

There is still a lot to be done, and I am certainly not claiming we are close, but I would like to get there!

For part of this we may need to make language specific operations.  You can imagine applying function level protection (private / public / whatever) is going to

[2021-08-18 17:36] teddylear commented on #71
@muchzill4 I was playing around on this with python for adding whitespace to the text during   code generation for 106. The idea I had was for languages where the formatter won't help like you mentioned, but we just always pass in the column of the first node column into code generation. Then let code generation determine if it uses it. Where I got hung up was determining the nodes in the current

[2021-08-21 15:35] tjdevries commented on #60
As of right now I haven't seen anything in the pipeline pattern that buys you anything new over just calling the functions in a row or appending them to a table or some other lua primitive.

[2021-08-21 16:09] ThePrimeagen commented on #60
I completely agree. I thought there may be more better good, but instead it sucks.

Better to just have some tables in my book.

[2021-08-24 05:48] samrath2007 commented on #12
Doesn't work at all with python for me.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/69572668/130562819-f3847789-bd2a-4c3c-b626-fc68fb9f64df.png">
I tried selecting everything in the print statement bracket on line 11.

[2021-08-28 19:36] ethanfischer commented on #24
Love that idea!

[2021-08-29 02:16] nymann opened #89 "Integrating with null-ls"
I think it could be interesting to integrate this repo as a `code action for [null-ls.nvim](https://github.com/jose-elias-alvarez/null-ls.nvim). What do you guys think?

[2021-08-29 02:49] ThePrimeagen commented on #89
I actually don't know this! I'll have to review it :)

[2021-08-29 02:50] ThePrimeagen commented on #71
There is something called indentexpr, this could really help!

[2021-08-30 14:15] ThePrimeagen opened #90 "Local variable pulling doesn't work with for loop declarations"
Here is an example from typescript

[code]

If I highlight the switch statement + `localAmount` it will correctly pull out the region, but it will _not_ include `key` in the parameter list.

[2021-08-30 14:16] #41 closed

[2021-09-04 16:49] teddylear commented on #42
I think this can be closed.

[2021-09-05 01:20] #42 closed

[2021-09-10 14:59] amirrezasadeqi opened #98 "Support for C/C++ refactoring"
Hi There Primeagen.

First of all thanks for your nice project. This feature is amazing and I never thought that we can get it on neovim.

watching your work on your youtube channel made me interested in having this feature for C/C++ projects. So I want to know that do you have any plan to extend this plugin for C/C++ ?

If you have not any plan to do this, Can I ask you to give me some hints to l

[2021-09-10 15:12] ThePrimeagen commented on #98
So yeah!

I am going to do this actually pretty soon myself.  I work on it for my job so I'll be supporting this within the next few weeks.

[2021-09-10 15:38] ThePrimeagen commented on #98
Also, if you wish to submit a PR i would be glad to review / point you in the right direction

[2021-09-10 19:57] amirrezasadeqi commented on #98
That's nice to hear that. I wish you success.

About submitting a PR, It would be my pleasure to have this opportunity. it shows your kindness that you want to review my code and guide me. Because this is my first project in Lua, I am not very confident about my code quality but I will do my best. I will fork your project and Start to work on that.

and one more thing. where is the best place to a

[2021-09-10 20:11] ThePrimeagen commented on #98
Hopefully I guide you well!  I really appreciate any contribution even if I don't merge it.  I am continually wow'd by people who want to get their hands dirty.  Good for you

[Discord](https://discord.gg/3ujcVMe), #refactoring is the name of the channel

[2021-09-22 14:37] #90 closed

[2021-10-07 23:28] teddylear opened #102 ""Cursor position outside buffer" error on large refactors"
As noted by [this code](https://github.com/ThePrimeagen/refactoring.nvim/blob/master/lua/refactoring/tasks/apply_text_edits.lua#L38-L45) we are having an issue with cursor position after the refactor takes place on the typescript switch statement test for extract function. This appears to be a bug in vim because it is not honoring the cursor position with the multiple edits that have taken place,

[2021-10-07 23:47] teddylear commented on #102
Made neovim ticket for issue: https://github.com/neovim/neovim/issues/15951

[2021-10-21 11:59] lourenci opened #108 "Feature request: Suggest the actions like the native LSP actions"
I don't use telescope, so this would be like a globe for me. Thank you.

<img width="944" alt="image" src="https://user-images.githubusercontent.com/2339362/138272680-426d00fc-3e44-4d5f-810d-a766feea15ca.png">

[2021-10-28 21:34] ThePrimeagen opened #115 "Remove LSP"
https://github.com/nvim-treesitter/nvim-treesitter/blob/master/lua/nvim-treesitter/locals.lua#L211

@teddylear there is a way to do references and definitions without LSP.  Time to move away from that crap.  Its a pain.

also, @tjdevries big money big tech johnson is going to help us out on it.

[2021-11-04 11:48] ThePrimeagen commented on #115
Has been removed!

[2021-11-04 11:48] #115 closed

[2021-11-10 05:11] IndianBoy42 opened #120 "Use new vim.ui.input instead of vim.fn.input"
`vim.ui.input` is a [newly merged](https://github.com/neovim/neovim/pull/15959) lua function for taking user text input. It is used by default in `vim.lsp.buf.rename()`. The advantage is it is 'overridable' with a custom lua function.
The API is not exactly the same, you must provide an `on_confirm` callback to receive the user input.
But this API allows for more flexibility, like implementing it

[2021-11-11 03:29] thetic opened #123 "Cannot extract code from global scope to function (Python)"
Select the following in visual mode:

[code]

Invoke `Extract Function`.

## Expected Behavior

prompt for name (eg foo) and edit code:

[code]

## Actual Behavior

`E5108: Error executing lua ...ck/packer/start/plenary.nvim/lua/plenary/async/async.lua:14: The coroutine failed with this message: ...start/refactoring.nvim/lua/refactoring/pipeline/ini
t.lua:61: Scope is nil`

[2021-11-11 03:52] ThePrimeagen commented on #123
Python is really hard to make it right and no one is currently working on python actively that I know of.  I am going to put my thinking hat on here soon and start doing best effort indenting, but that is hard.  Python on the other hand is really hard since white space is significant.

[2021-11-11 03:54] ThePrimeagen commented on #120
Yaya!  Hey, feel free to open a PR, if not.  I am sure that at some point I will take a look at this.  It is not very high up on the priority list as I want to make extract * better.  * being extract anything (I want to be able to extract code to the function, another function, into class method, into another function in another file, etc etc.  So until I have made the most badass extraction code

[2021-11-11 03:54] thetic commented on #123
totally fair. nothing urgent. I just thought it was worth capturing.

[2021-11-11 03:55] ThePrimeagen commented on #102
@teddylear we should revisit this as the upstream ticket has been resolved

[2021-11-11 03:55] ThePrimeagen commented on #24
this is mostly done.  The only thing left is to have a new enough version of neovim that it doesn't error :)

[2021-11-11 03:55] #24 closed

[2021-11-11 03:56] ThePrimeagen commented on #98
i will start looking at this soon once I get the extraction code all wrapped up.  Then I will start the language support phase.

[2021-11-11 04:20] IndianBoy42 commented on #120
Lets continue the discussion in #124. the difference in API of `ui.input` and `fn.input` will need changes to the Pipeline 'class'

[2021-11-11 04:26] teddylear commented on #102
Let me see if this is still an issue (I think it's been fixed upstream). Right now the main issue with moving cursor post refactor comes from extract func (the rest should work just find).  Extract func we usually start at 0, so the cursor always ends at 0. We could move it to the first non-space character in the start row, but then we would have to traverse the text there.

[2021-11-11 16:09] ThePrimeagen commented on #123
this is really good, thanks for reporting.  Always appreciate the helping hand.

[2021-11-11 16:13] #120 closed

[2021-11-15 19:01] eecopa opened #127 "Feature request: Remove "all breadcrumbs" once finished"
First I want to say how awesome this tool is! That being said, after seeing this new feature https://www.youtube.com/watch?v=SDPei-mk13w
I thought it might be awesome to have a "remove all breadcrumbs" (remove print statements generated by the feature).

## Why?
I worked on multiple big projects that have print statements that should stay in there, and this would allow for easy deletion of the too

[2021-11-15 19:05] ThePrimeagen commented on #127
ABSOLUTELY!

So here is my general idea

[code]

then there could be a "cleanup" command that would be ran on the specific file and delete whatever line is a `print` line + has `__AUTO_GENERATE__`

On top of that I need to get some customized stringification!

[2021-11-15 19:07] ThePrimeagen opened #129 "Better Config"
Its time to have a thorough config that allows for overrides at setup time.

[code]

This should persist.  Along with that I want to be able to pass in options into each of the functions so that way you can have overrides at a per function level along with top level override.  Like telescope!

[2021-11-16 08:00] kavinvalli opened #130 "Attempt to call field 'input' (a nil value)"
I get this error when trying to run a command
[code]

[2021-11-16 08:01] kavinvalli commented on #130
I tried to read the source code. Apparently, the get_input file has an `input` variable which uses plenary. I do have it installed though

[2021-11-16 09:40] christofferaakre commented on #130
I get a similar error when trying to run
`:lua require('refactoring').refactor('Extract Function')`:
[code]

[2021-11-16 16:52] mcritchlow commented on #130
Ran into this too while trying to kick at adding Ruby language support.

I suspect this got introduced here https://github.com/ThePrimeagen/refactoring.nvim/commit/3ea5c19072e3e10ad7ce2a69a9a8431e143c1ec5 but I'm still very new to all this

[2021-11-18 20:21] rebelot opened #140 "Errors on nightly"
Hi, I'm using [null-ls](https://github.com/jose-elias-alvarez/null-ls.nvim) and I'm getting this after calling `:'<,'>lua vim.lsp.buf.range_code_action()`

I'm on current nightly

[code]

[2021-11-19 19:10] jose-elias-alvarez commented on #140
To add to this, I don't think the issue is related to null-ls, since I'm getting issues using the [recommended setup](https://github.com/ThePrimeagen/refactoring.nvim#basic-setup) on the latest Neovim master (NVIM v0.6.0-dev+603-g9ec4417af).

[2021-11-20 04:09] pranavrao145 commented on #140
@jose-elias-alvarez this issue was actually solved in #142. I think it should be fixed if you're on 0.6 and you run `:PackerSync` or `:PlugUpdate`.

[2021-11-21 09:42] rebelot commented on #140
it does not seem to be working, it is "slightly better" (aka, I see the "new var name" prompt and sometimes text changes) if I disable other lsp active for the buffer (i.e pyright). not really usable tho

[2021-11-22 17:53] jamestrew commented on #140
I am getting a very similar error as well on nvim 0.5.1. Just `PackerSync`'ed as well.
[code]

[2021-11-22 18:00] jamestrew commented on #140
This is the last commit that doesn't error out for me [41caf9d207887779255fa659a2ddb2182b158e3b](https://github.com/ThePrimeagen/refactoring.nvim/commit/41caf9d207887779255fa659a2ddb2182b158e3b)

Starting the [next commit](https://github.com/ThePrimeagen/refactoring.nvim/commit/3e3fb7ecb237f6c7cb61cc9f850634ef7ec2d2b6) I get this:
[code]
and it looks like that commit changed how the config is setu

[2021-11-24 01:42] ThePrimeagen commented on #140
there has been a few new commits since this.  I'll make sure I check out the latest nvim and try to repro

[2021-11-25 02:28] teddylear commented on #123
@thetic Added support for this with the above PR and the test case you listed (though formatting is off but Prime is working on something to fix that across the board). Lmk if this resolves issue, thanks!.

[2021-11-25 02:30] teddylear commented on #19
I think we good to close this

[2021-11-25 02:48] teddylear commented on #102
Removed the bandaid put in for this, tests are passing for now so we should be good.

[2021-11-25 02:48] #102 closed

[2021-11-25 09:23] thetic commented on #123
Now I get this error:
[code]

[2021-11-25 14:37] teddylear commented on #123
Not sure how you're getting that, are you on nightly neovim?  We only test on nightly, I can update docs to reflect that

[2021-11-25 15:50] teddylear commented on #123
Also do you have `plenary` and `nvim-treesitter` plugins?

[2021-11-25 18:38] thetic commented on #123
Ah, I wasn't on nighty. Thanks!

[2021-11-25 18:38] #123 closed

[2021-11-26 15:56] teddylear commented on #130
Are people seeing this error when running nightly neovim? We need to update docs to clarify that this plugin only works on nightly, with nightly I'm not seeing this error.

[2021-11-26 16:46] teddylear commented on #140
^ Second this nightly and latest should be stable as of now.

[2021-11-26 16:49] teddylear commented on #69
Even though it's difficult (like typescript), I think we want lua to have first class support as it will then make even writing the plugin easier.

[2021-11-27 01:48] jamestrew commented on #140
I found the issue (for me at least) to be related calling `require('refactoring').setup()` with no `opts` as opposed to `require('refactoring').setup({})`. I'll open a PR to handle the no `opts` condition since I feel like many other plugins, including refactoring.nvim prior to commit I mentioned above, could handle a no `opts` setup call.

[2021-11-27 04:02] ThePrimeagen commented on #140
Are we able to close this?

[2021-11-27 04:02] #129 closed

[2021-11-27 05:04] jamestrew commented on #140
Good on my end :+1:

[2021-11-28 02:45] pranavrao145 commented on #140
Everything works with both versions on my end as well, I think we're good to close this.

[2021-11-28 04:27] pranavrao145 commented on #130
Yes, the plugin only works on nightly for me as well. Now that it specifies that nightly is necessary in the README, I think we should be okay to close this issue.

[2021-11-28 07:24] kavinvalli commented on #130
@teddylear Thanks for clarifying. It wasn't in the readme before so didn't know.

[2021-11-28 07:24] #130 closed

[2021-11-28 17:35] teddylear commented on #140
I'll close issue for now then. @rebelot Please let us know if this persists on nightly and I can reopen. I've updated README saying that nightly is required.

[2021-11-28 17:35] #140 closed

[2021-11-30 14:08] kubabialy commented on #69
I'll go throught the plugin and fiddle with it for a while and try to make it work with PHP. If that'll work I'm happy to maintain it for that language and perhaps help when available with JS/TS.

[2021-12-02 13:17] adgai19 commented on #108
If you are on nvim 6.0+ i think you could use this
[code]

[2021-12-17 01:10] pranavrao145 commented on #98
C++ refactoring is done with #166, C should technically work too but format tests need to be written for it to make sure!

[2021-12-17 01:20] teddylear opened #173 "Insert return types into extracted functions"
For C and Golang we currently have a default value set for the type of the extracted function. Ideally we can find out what the extracted function value should be via LSP. This would be difficult to test (LSP in the CI is diffcult...), but would be very nice to have.

[2021-12-17 22:09] teddylear opened #175 "Update inline-var to find identifier in current line if cursor not on it"
As noted in [this PR](https://github.com/ThePrimeagen/refactoring.nvim/pull/174), we should make inline-var more user friendly by finding the identifier in the current line if the cursor is not on it. Currently we have this error out to make this more obvious.

[2021-12-20 03:21] pranavrao145 opened #179 "Telescope Extension"
This plugin provides an example plugin configuration using Telescope in the README; to newcomers it may seem a bit complicated. Is it possible to make a Telescope extension for this plugin instead? I think it would be a lot easier for people to make one call to `telescope.load_extension()` than fiddle with the example config.

[2021-12-20 16:25] Midren commented on #98
C++ integration works like a charm. One moment that I have don't understand, why do we need `INSERT_TYPE_HERE`, when `auto` can be used instead ? It is true, that it won't work for C++98, but it is better to change it to a real type only for those who really need it.

[2021-12-21 00:41] teddylear commented on #127
@eecopa @ThePrimeagen I think this is taken care of by @pranavrao145 PR that just got merged. Let me know if this is good to close.

[2021-12-22 03:03] ThePrimeagen commented on #127
If it's not taken care of, sorry about my absence for the last month, then this would be awesome.

Thanks so much for your contribution

[2021-12-25 18:45] pranavrao145 commented on #98
I don't mind using `auto` instead, but the other problem is that it also won't work for C. So this means we will have to separate the codegen for each of these and (maybe) write new tests.

[2021-12-25 18:59] Midren commented on #98
Modern C++ is pretty different from C, so I think it's okay to have different code gens )

[2021-12-25 19:21] pranavrao145 commented on #98
Fair enough - do you want to make the PR for that @Midren?

[2021-12-25 19:27] Midren commented on #98
Never written in Lua, but will try to find a timeslot tomorrow )

[2021-12-27 04:48] pranavrao145 commented on #179
Taken care of by #187, so I'm going to close this now.

[2021-12-27 04:48] #179 closed

[2022-01-03 17:49] max397574 opened #200 "doesn't check if inside comment"
I tried to extract a function in c++
As far as I can tell everything worked, except that the function got placed inside of a comment which was directly above the function:
![Screenshot 2022-01-03 at 18 47 57](https://user-images.githubusercontent.com/81827001/147962545-bd7cd269-e7bd-4a04-b370-3e2dcf60b0dd.png)

`:lua require('refactoring').refactor('Extract Function')`

![Screenshot 2022-01-03 at

[2022-01-03 18:03] max397574 opened #201 "Feature Request: refactoring descriptions"
Could you add quick descriptions to the refactors in the readme?
I don't exactly know what they do (I could look it up in the book but you can't expect every user to be able to do so).
for example for extract function:

[code]
So just a quick descriptions what they do and how you use them

[2022-01-04 16:34] teddylear commented on #200
@max397574 I think this might be a more general problem with the plugin regarding refactoring around comments, let me look into this.

[2022-01-04 21:31] pranavrao145 commented on #201
I think having the descriptions show up in the preview window will take a bit more work, but for now I've just added it into the README.

[2022-01-05 00:00] vuki656 commented on #200
I'm also experiencing this with lua so it's likely not a CPP-specific issue.

[2022-01-05 04:01] teddylear commented on #200
@vuki656 Put in a fix for all but lua and python.

@max397574 working on trying get lua and python working next, they're a little more complex.

[2022-01-05 06:34] max397574 commented on #201
I'm working on a similar thing
I'll let you know if I manage to do it

[2022-01-05 15:53] ThePrimeagen commented on #51
I have thought about this a lot.  I may write a stand alone binary for this operation.  Its extremely cpu intensive but could be neat.

[2022-01-06 14:43] pranavrao145 opened #207 "Line with multiple declarations gets deleted when using inline var"
When you have a line that has multiple variable declarations in a language like CPP, such as:
[code]
If you try to inline b, it does it properly but it deletes the whole line instead of just that variable declaration. This might be a bit tricky to fix because of the fact that it's different in every language. Example, in lua you would do:
[code]
Maybe an issue we can fix sometime later in the futu

[2022-01-06 14:46] pranavrao145 commented on #175
I was thinking about how to approach this one. Either we can try to find the identifier in the current line (runs into problems with multiple declarations in a line such as in #207), or we can try to find the first identifier in the current visual selection. I think the second one is better simply because the problem is that the *cursor's* not in the right place; the user will visual select the va

[2022-01-06 15:44] teddylear commented on #175
@pranavrao145 What are your thoughts on this, in the case of one identifier we select the first one present in line. Then if there are two (or more) identifiers in the line we add a prompt listing each identifier in the line and the user picks which one we want to inline. Thought I'm not sure how this would work with the current implementation we have...

Else we have to go with the second approac

[2022-01-06 22:20] pranavrao145 commented on #175
I like that idea - a prompt would be best. I will try to get working on this sometime during the week and let you know how it goes!

[2022-01-06 22:36] teddylear commented on #200
@max397574 added support for lua/python, let me know if there are still issues

[2022-01-07 01:38] teddylear commented on #20
This has been resolved by checking/setting return values, closing.

[2022-01-07 01:38] #20 closed

[2022-01-07 01:39] teddylear commented on #33
Have a solid README at this point, I think we are close to being super duper cereal

[2022-01-07 01:39] #33 closed

[2022-01-07 01:41] teddylear commented on #32
@fabianschwarzfritz Is this still an issue? I think the plugin is more stable as this point.

[2022-01-07 01:42] teddylear commented on #43
This has been implemented and we have a test, closing.

[2022-01-07 01:43] teddylear commented on #44
This feature has been merged in with test added, closing.

[2022-01-07 01:43] #44 closed

[2022-01-07 01:47] teddylear commented on #98
I believe with everything added we are good to close this. If this is still a problem let me know if we can reopen it.

[2022-01-07 01:47] #98 closed

[2022-01-07 01:48] teddylear commented on #127
Closing as I think this has been resolved with debug cleanup

[2022-01-07 01:48] #127 closed

[2022-01-07 01:50] teddylear commented on #89
@jose-elias-alvarez @nymann Is this resolved then with the example above? Or should we mention this integration in the README somewhere?

[2022-01-07 01:52] teddylear commented on #23
@olgam4 Is this still an issue? Or should this be closed?

[2022-01-07 01:55] teddylear commented on #47
Closing as we have js support. I believe we will make rust another ticket itself (as it's its own pile of work).

[2022-01-07 01:55] #47 closed

[2022-01-07 08:50] max397574 commented on #200
I don't have any
You can close this issue if you also don't have any

[2022-01-07 17:09] #200 closed

[2022-01-10 14:15] #32 closed

[2022-01-10 20:42] pranavrao145 commented on #207
With #211 inline var will not touch the line if it has multiple declarations in it. This is a temporary solution; I think we should in the future attempt to make it get rid of just the inlined declaration. However, this is going to be a bit of work just because it's different for each language.

[2022-01-13 02:56] shawnyu5 opened #212 "Adding java support for print_var"
Calling print_var in a java file causes plenary to error out. Having Java support in the plugin would be really cool.

[2022-01-14 01:14] pranavrao145 commented on #212
I will work on this when I get the chance :+1:

[2022-01-14 16:14] zemzale opened #216 "Error when treesitter is not setup"
# Problem
I was trying out the plugin with a simple function extraction. The action ended with an error
[code]

I figured out that I just hadn't installed the treesitters parser. Installing it fixed the problem.

# Solution

Maybe it's possible to print some sort of warning if the parser is not available. The place where this all happens is here.

https://github.com/ThePrimeagen/refactoring.nvim/b

[2022-01-14 22:24] teddylear opened #217 "Configure offset encoding on apply_text_edits"
With the addition of adding the offset encoding to `apply_text_edits`, we set the default to `utf-16` to make tests pass in the current state. However, we may want to set this via lsp as noted on [this PR](https://github.com/ThePrimeagen/refactoring.nvim/pull/215) using `vim.lsp.buf_get_clients(bufnr)[1].offset_encoding`. Then we could default back to `utf-16` if lsp not present (or set to some ot

[2022-01-15 18:28] pranavrao145 commented on #207
Closing this because this no longer applies with #211.

[2022-01-15 18:28] #207 closed

[2022-01-15 18:29] pranavrao145 opened #218 "Inline var: delete single declaration in multiple declaration statements"
As noted in #211, if there are multiple variables in a selected declaration when attempting to run inline var, the plugin currently *does not* delete the declaration. This is a temporary workaround to the problem described in #207; at some point we should change this so that it is able to delete the one variable from the declaration. I believe the easiest way to do it is write some new codegen and

[2022-01-15 18:34] pranavrao145 opened #219 "Inline Var: multiple declaration support for Python"
The functionality introduced in #211 does not currently work for Python because its syntax trees are more dynamic than other languages. We will need to implement some custom logic to figure out what exactly is being inlined when dealing with multiple declarations.

[2022-01-15 18:42] ThePrimeagen commented on #219
Based on the description, since we are having nodes describe how to match, we can put the custom functionality in there.

[2022-01-15 18:51] zemzale opened #220 "Go: Setting return type for struct functions doesn't work"
Basically, as the title says.

When I try to refactor something like this
[code]
  I get prompted for the function name and the return type, but it doesn't apply it
[code]

I can try to figure out where and why this is not working, but I would need some pointers to where to look at.

[2022-01-15 19:37] pranavrao145 commented on #175
This is solved with #211 - can we close this issue?

[2022-01-15 21:30] pranavrao145 commented on #216
@zemzale yep is where we attempt to get the parser - technically Treesitter (and its parsers) are a requirement for the plugin, but if you would like to make a PR to print this warning message and make it more obvious for users, we'd be happy to accept it.

[2022-01-15 21:33] pranavrao145 commented on #12
I think this issue was primarily a result of certain missing queries that have since been added for all languages. Are we good to close this issue?

[2022-01-16 16:40] teddylear commented on #220
@zemzale I think I know what the issue is, I can try to make a quick PR today or tomorrow.

[2022-01-16 16:43] teddylear commented on #175
@pranavrao145 I'll close, can you make an issue for the other part of the PR we discussed so we can track it? That being removing the initial declaration when there are multiple declaration on the same line. Else I can make the issue.

[2022-01-16 16:43] #175 closed

[2022-01-16 20:14] teddylear commented on #216
@zemzale If you check if the parser is nil then throw error if that's the case you should be good. Not sure how easy it would be to add a test for that... but if you make a PR for what I mentioned I'd be down to merge

[2022-01-16 20:14] teddylear commented on #220
@zemzale Merged a fix for this, Lmk if this is still an issue.

[2022-01-17 06:00] zemzale commented on #220
@teddylear Works like a charm now. Thanks for this 👍

[2022-01-17 06:00] #220 closed

[2022-01-18 13:37] amitavaghosh1 opened #224 "How to use with vim-plug"
This is more of a how to question. I have vim-plug. My init.vim looks like:

[code]

I also have done `:TSInstall go` and `:TSInstall javascrript` , But how do I do this, `require('refactoring').setup({})` thinggy.

I tried to see if anything like `:refactoring#setup`, but it doesn't (which is expected, because I couldn't find anything in :help)

Can you please also add an instruction on how to us

[2022-01-19 18:18] teddylear commented on #224
@amitavaghosh1 this plugin only works on nightly neovim, please update to nightly build and let us know if there is still an issue.

[2022-01-20 01:10] teddylear opened #227 "Remove last scm files and move to nodes"
In order to catch errors easier, we should remove the last remnants of scm files and move to using nodes so we can catch errors when queries are invalid. This will require some refactoring with removing query2 and maybe query files (or at least move possible move their logic somewhere else). This will ideally let us know when parsers are upgraded where the errors are.

[2022-01-20 01:12] teddylear opened #228 "Add tests for 119 when block_scope, etc are missing"
During the last parser upgrade for lua language there were some holes found with regards to finding out what queries were broken when doing an extract_var (119 operation). The TODOs are listed in the 119 file, we should add tests for the added errors.

[2022-01-21 06:41] amitavaghosh1 commented on #224
Oh, that's why I probably kept getting error like:
[code]

okay I will try with nightly and repoen the discussion if requirerd.

thanks for getting back

[2022-01-21 06:41] #224 closed

[2022-01-23 22:02] pranavrao145 commented on #216
@zemzale now that #225 is merged, lmk if we're good to close this issue.

[2022-01-23 23:00] zemzale commented on #216
@pranavrao145 Yeah I think this can be closed

[2022-01-24 04:32] pranavrao145 commented on #216
Awesome, I'll close this then - thanks for the contributions!

[2022-01-24 04:32] #216 closed

[2022-01-24 22:45] #218 closed

[2022-01-25 00:30] #212 closed

[2022-01-25 00:32] pranavrao145 commented on #212
@shawnyu5 support for Java is added in #230 - take a look and let me know what you think!

[2022-01-26 13:24] shawnyu5 commented on #212
Awesome, I'll play around with it. Thank You!

[2022-01-28 23:06] fragov opened #233 "Add typescriptreact support"
When I try to use any refactor command, I get the next error:
[code]

File type is "typescriptreact". Probably that is the reason, why it can't get language from TS. But TS is working fine, also TS Playground shows all types, without problem. Is something wrong with function that get languages from TS in query.lua:23 or it is my setup fault?

I've manually switched language from "typescriptreact"

[2022-01-30 16:30] bellini666 opened #235 "Error when trying to refactor a python code"
[code]

The first time testing this plugin. Please tell me if you need more info

[2022-01-31 06:44] gotgenes commented on #5
See also https://github.com/danymat/neogen

[2022-02-03 13:39] teddylear commented on #12
@jrock2004 Closing issue, please let us know if this is still an issue and we can reopen.

[2022-02-03 13:39] #12 closed

[2022-02-03 17:57] pranavrao145 commented on #235
@bellini666 thanks for opening an issue. Can you please attach the exact code you tried to refactor and the visual mode highlight?

[2022-02-03 18:00] pranavrao145 commented on #233
@fragov, thanks for opening an issue. Like you said, the plugin does not currently know how to handle `typescriptreact` filetypes. Can you attach the exact code you tried to refactor when you switched the filetype to `typescript` as well as what you visually highlighted? That way, I can try to reproduce it and get back to you.

[2022-02-06 11:32] fragov commented on #233
[code]

I try to extract b * c, and then I get that error.

[2022-02-07 05:27] pranavrao145 commented on #233
Thanks, I'll take a look and see what I can do :+1:

[2022-02-07 14:44] pranavrao145 commented on #233
@fragov this seems to be an issue with the treesitter. If you open a `tsx` file, it will automatically register the filetype as `typescriptreact`, which means the treesitter parser used is still `typescriptreact`. Setting the `filetype` manually will not immediately change the treesitter parser used, which is what causes this problem. Until the plugin gains support for the `typescriptreact` filety

[2022-02-10 02:17] teddylear commented on #233
I'm not sure this will work without a full `typescriptreac`t setup as it looks like `typescriptreact` has a different extract function signature with `export` at the beginning of the function, so it's not the same as normal `typescript` extract. I think ideally we have to setup a new extra path similar to typescript, but with slight differences for for `typescriptreact`.

[2022-02-10 04:38] dbvasconcelos commented on #89
I am having this error when trying to use the integration:
[code]

[2022-02-21 16:37] #227 closed

[2022-02-24 09:34] tami5 opened #246 "Extract tables to functions: missing return statement"
SOO finally, I got to try this. Oh it made my life so much easier and with null-ls is crazy good.

 Great work 😍 I can only imagine the possibilities of such a codebase.

I notice while extracting tables that it misses adding return keyword.

[code]

Also why is it indent like that 🤔

[2022-02-24 18:24] teddylear commented on #246
@tami5 thanks for opening issue! Do you mind sharing what the code looked like prior to the refactor so I can setup a test case to reproduce the issue? Also is the lua? I'm assuming this is from 'local function'. Indenting for all refactoring operations is something new we have added, so we are still trying to get it right.

[2022-02-24 18:29] tami5 commented on #246
No at all it somewhere in my dot files I don't have access to right now, but basically it visual select a table with in a table and extract to function.

Yes that lua.

Indention maybe could be set by the user?

[2022-02-28 23:09] teddylear opened #249 "Extract func for similar blocks in file"
As mentioned in the discord channel, Ideally we would have an extract func like operation that would extract all similar lines of code in a file loop through nodes from root. Then place function at top level where possible.

[2022-03-01 20:49] goldcoders opened #250 "Any Rust Support?"
Im looking for a refactoring plugin in neovim,
but when i check the language supported
no rust yet, hopefully it will be added

anyway thanks for creating this nvim plugin

:)

[2022-03-09 20:58] ThePrimeagen commented on #250
No!

But its not to hard at this point.

The hard parts are types which is why I am a bit hesitant.  LSP Integration is back on the table for me so that I can create type annotations as well.

[2022-03-09 21:13] ThePrimeagen opened #260 "Broken Inline operation"
[code]

Put cursor on `const [i]tem = 42` and call 123

[code]

As you can see... `function1` has its argument renamed to 42.  INLINED FOR LIFE

[2022-03-11 20:17] pranavrao145 commented on #260
This was solved recently in the above mentioned PR, so I'm going to close this issue for now.

[2022-03-11 20:17] #260 closed

[2022-03-15 15:20] #219 closed

[2022-03-16 23:12] lourenci commented on #108
Yes. It's working. There is just a little issue when you cancel the options and don't make any selection:

<img width="2557" alt="image" src="https://user-images.githubusercontent.com/2339362/158706163-ae327aab-04b8-4c68-8698-1e147b983570.png">

[2022-03-16 23:26] ViRu-ThE-ViRuS opened #269 "bug: could not find refactor `nil` when using `select_refactor`"
[code]

config:
[code]

I can see its happening in `init.lua:20` as in `select_refactor`, the selection is async, and is triggered after `refactor` is called with a null param.

[2022-03-17 04:49] pranavrao145 commented on #108
Alright, thanks for the feedback! I'll merge in a quick fix to this problem tomorrow and we'll close the issue.

[2022-03-17 07:46] melkster opened #270 "Telescope is entered in '(insert) VISUAL LINE' mode"
After calling `require('telescope').extensions.refactoring.refactors`, I end up in `(insert) VISUAL LINE` inside Telescope which means that I can't interact with Telescope until I hit `<Esc>`.

**To reproduce:**

- `test.vim`:

[code]

- `nvim -u test.vim *path/to/some/file*` (I have tried TypeScript, Python and Java files)
- Press `V` to enter visual line mode
- Press `<leader>R` which brings up

[2022-03-17 12:17] ofirgall opened #271 "[Option] cleanup whole lines"
`debug.cleanup` cleans up the prints but leaving the added lines empty, can we add `cleanup_lines` boolean to delete the whole line with the print functions?

[2022-03-17 12:22] ofirgall opened #272 "Multiple debug prints in the same function"
Sometimes you want to add "trace" prints in your function.
Example:
[code]
Currently if you are trying to add multiple debug prints the first print is ok but the other will be just empty.
Can we support multiple prints with automated indexes?

[2022-03-17 16:03] pranavrao145 commented on #108
@lourenci I have merged in #273 to fix this - take a look and let me know what you think!

[2022-03-17 16:04] pranavrao145 commented on #269
@ViRu-ThE-ViRuS thanks for opening an issue. This has been fixed in #273 - take a look and let us know if it's fixed!

[2022-03-17 16:56] MarkTuddenham opened #274 "Expected test result is invalid code (python, 119)"
https://github.com/ThePrimeagen/refactoring.nvim/blob/14041a39c5828a17d585362725ba7eb4bb906e2e/lua/refactoring/tests/refactor/119/py/example/extract_var.expected.py#L4
is invalidly indented (requires 4 spaces, has 3)

[2022-03-17 17:26] pranavrao145 commented on #274
@MarkTuddenham unfortunately indentation is still a work in progress, so for now the test does actually yield that code. Later on when we nail down indentation for Python we can update the test results to what it should actually be.

[2022-03-17 18:59] andrewferrier opened #275 "Support operator-pending maps"
`refactoring.nvim` is really nice, and seems to be getting really robust! Thanks for your hard work on it.

It would be wonderful if it could support operator-pending maps in addition to visual mode maps. I'm an old school vimmer who's a bit saddened by how many plugins are defaulting to visual mode these days :(

Might be happy to work on it with a pull req if you'd be interested...

[2022-03-17 21:12] pranavrao145 commented on #275
@andrewferrier thanks for opening an issue. If you want to start a pull request on that, we'd be happy to accept your contribution! If you have any questions about the plugin's existing codebase, a great place to ask for help is the `#refactoring` channel on Prime's [Discord server](https://discord.gg/theprimeagen).

[2022-03-17 21:14] ThePrimeagen commented on #275
Even some examples of what you would like could help!

[2022-03-18 02:32] pranavrao145 commented on #271
@ofirgall this sounds like a good idea to me - I actually think it should be the default behaviour. We will work on it!

[2022-03-18 08:11] #269 closed

[2022-03-18 08:11] ViRu-ThE-ViRuS commented on #269
yup all good now!

[2022-03-18 09:16] koolay opened #276 "Golang refactoring not work"
<img width="1511" alt="image" src="https://user-images.githubusercontent.com/4273490/158974848-d3b2a378-8470-4435-8af9-7eddef251723.png">

[2022-03-18 14:29] ThePrimeagen commented on #276
Can you please add context? Code example that causes this?

It's virtually impossible to do anything with that

[2022-03-18 18:05] MarkTuddenham commented on #274
Yes, thought there should be an issue to keep track that the test's wrong.

Is someone currently working on indentation (python or otherwise)?

[2022-03-18 19:55] melkster commented on #270
I see, thank you!

[2022-03-19 03:26] koolay commented on #276
<img width="1485" alt="image" src="https://user-images.githubusercontent.com/4273490/159104928-88195041-cd9b-4a2e-99b2-fbfd2a628c38.png">

[2022-03-19 03:50] pranavrao145 commented on #274
I believe indentation is primarily being worked on by @teddylear at the moment, but additional PRs are always welcome!

[2022-03-19 03:51] pranavrao145 commented on #270
No worries!

[2022-03-19 03:51] #270 closed

[2022-03-19 03:53] pranavrao145 commented on #276
Thanks @koolay, we'll check it out and see what we can do about it.

[2022-03-19 20:32] teddylear commented on #276
@koolay Creating a similar test here this appears to be working with extracting something like `go <func call>`. What's the `vim.boshiftwidth` you have in the current buffer? This looks like an issue with indenting, but i'm not sure why.

[2022-03-20 03:06] teddylear opened #279 "Validate get_local_parameter_types function treesitter setting calls"
When migrating to validating calls in [this PR](https://github.com/ThePrimeagen/refactoring.nvim/pull/277) we noticed that for the `get_local_parameter_types` function required settings are not present for some languages. We should add the two settings validations required for this function and update the broken languages with the required nodes.

[2022-04-06 15:51] lguarda opened #285 "Lua refocator issue in local variable and for loop scoped variable detection"
I thinks there's little bug when argument are transferred to an extracted function in lua (i didn't test with another language)
when scoped variable is created from a for loop or when it's created without value like this `local variable -- no equal here`
My assumption is that there are handled as global variable and so not passed through the new function

Here 4 variation of 106 tests the two last

[2022-04-09 19:30] pranavrao145 opened #287 "Extract Block Indentation"
As noted in #284, indenting doesn't work (for pretty much all languages) when using the Extract Block function.

[2022-04-13 07:53] molleweide opened #292 "lua > doesn't extract the full function comment"
I am just trying out the plugin and am really excited to learn how it works over time! I am so happy that you guys decided to build this project.

I noticed this when trying out `extract function` feature:

[code]

becomes the following when extracting function.

[code]

So it seems it doesn't grab the full comment above the function. FYI I tried with `--` and also `---` in the comment. The trippl

[2022-04-13 16:13] molleweide commented on #292
I just realized also that I am also not sure if the comment is supposed to be included in the refactor.

[2022-04-15 22:36] teddylear commented on #292
Thanks for logging this! Ah let me look into this, I confirmed the issue for me locally too.

[2022-04-20 01:35] chriztheanvill opened #294 "Bugs with C++"
Refactoring classes in C++ does not work, also creating a file or overwrite the file:
[code]
If you try to use Extract function:
* If is in same file, does not respect the class ``` Base::Foo() { ... } ```

If you try to use Extract function to file:
* If already exist the file, only shows an error and does nothing.
* If not, using extension like .cpp shows this error
![image](https://user-images.

[2022-04-23 11:28] molleweide commented on #292
I am learning treesitter at the moment so for now this is a little bit too difficult to solve myself ;) but I am really excited about getting to a point where I can contribute something here myself

[2022-04-24 01:40] pranavrao145 opened #295 "Extract Block in Lua"
Extract block in lua gives some weird behaviour.

This block works fine:

[code]

This one does not:

[code]

For some reason, this one extracts the block AND the last `end`. This obviously causes the new code to have a bunch of errors in it. From what I've tested, it only works properly when there is another statement involving `end` directly before the function `end`. I've tried to figure out wh

[2022-04-24 01:50] pranavrao145 commented on #294
@chriztheanvill thanks for opening an issue. Can you please attach the exact code blocks you tried to refactor and (if applicable) the results of the extractions for both cases?

[2022-04-24 02:37] ThePrimeagen commented on #294
I have noticed this too. I've been coding in c++ lately and been struggling with a few things. I was planning on making a few updates this week. So I may already be fixing some of the issues you're experiencing

[2022-04-27 16:24] teddylear commented on #292
@molleweide merged in a fix, let me know if that resolves issue

[2022-04-27 16:28] molleweide commented on #292
Cool, I will!

[2022-04-27 16:29] lguarda commented on #285
This is also present in C, and so it's probably in every other language, but this gh issue is about lua so i think it okay to close it. i didn't fix the other language because I'm trying to understand why tree sitter output is totally different depending on the language, and I thought it was language agnostic.

[2022-04-27 16:29] #285 closed

[2022-04-27 17:07] thuan1412 opened #298 "Support print var in normal mode"
I tried to config the `print_var` function in the`normal` mode.
[code]
When I try to run the `print_var` in normal mode, I got this error message.
[code]

Seem like this plugin has not supported this feature in normal mode.

It would be nice if we're able to `print_var` in normal mode, it reduces the step that we have to switch to `visual` mode and select the variable.

[2022-05-01 12:11] milanglacier opened #299 "python extracting functions inside a class doesn't recognize `self` keyword"
I am at commit `fef309f654906d931f2c714a77f5182fe70ada7d`.

The following example code is:

[code]

visually select the two lines:

[code]

and extract the function, naming it as `extracted_function`, the output is

[code]

the correct result should be

[code]

[2022-05-02 22:11] quantum-booty commented on #235
I get this error when trying extract variable:
[code]

[2022-05-04 09:08] molleweide commented on #292
Allright, on first try now it seems to work better!
I have to get comfortable with using it now more and report back any errors or things that I notice.
Hopefully I will be able to understand the source code better soon. I getting more and more of a grasp on ts now.

[2022-05-04 09:17] molleweide opened #300 "refactor `inline var`: throws error if no var in visual selection."
As title sais :)

`attempt to index local node nil`

[2022-05-04 09:28] #292 closed

[2022-05-07 16:58] teddylear commented on #300
I think this is as intended currently, but I can add as feature request.

[2022-05-08 06:48] molleweide commented on #300
Aah, allright I just made the issue so that it can be checked off.

[2022-05-09 23:06] teddylear commented on #276
@koolay Any update on this? Else I'll close this out.

[2022-05-10 01:49] koolay commented on #276
It works now after upgrading versions of all plugins.

[2022-05-10 13:56] #276 closed

[2022-05-11 12:16] teddylear commented on #299
@milanglacier Merged in a fix for this, please let us know if there are still issue surrounding this.

[2022-05-11 19:16] milanglacier commented on #299
works great!
Thanks!

[2022-05-11 19:16] #299 closed

[2022-05-14 23:43] danielnehrig commented on #12
im still experiencing this issue on stable 0.7.0 with current master refactoring plugin video attached and error msg

[code]

https://user-images.githubusercontent.com/4050749/168451492-579d3047-0a4f-47f3-a72e-738d5a3e2a49.mp4

[2022-05-15 13:18] teddylear commented on #12
@danielnehrig From that video it looks like you are going into visual mode, but not back to normal mode before executing a refactor operation as listed like this command in the README:
[code]

I believe this should resolve the immediate issue. If this is still an issue, please open up a new issue as this thread already covers multiple issues making it harder for us to track. In the new issue also

[2022-05-16 11:17] mattiasbonte opened #304 "How to adjust console.log statements"
Hi,

**Context**
I'm currently trying out this plug but am failing miserably at something very simple?
I can't seem to change the `console_log` statements for `JS/TS`.

**Config**
[code]

**Result**
_`printf` functionality_
 `console.log("getFlowReportFilesZipped");// __AUTO_GENERATED_PRINTF__`

_`print_var` functionality_
`console.log("getFlowReportFilesZipped kafka: %s", kafka);// __AUTO_GENERAT

[2022-05-17 17:36] andrewferrier commented on #275
Sorry for the slow response. What I guess I was looking for here was a custom operator, e.g. something like the ability to type `gyr<text object>` and have `refactoring.nvim` operate on the text object (like other custom operators, such as https://github.com/tpope/vim-commentary or NeoVim-generation equivalents). Currently `refactoring` only supports visual mode (as far as I know) but for me (an o

[2022-05-18 00:36] teddylear commented on #304
@mattiasbonte Thanks for raising the issue! I just confirmed this is broken for me as well, so it doesn't look like anything is wrong with your config. Let me take a look and try to get a fix out this week. I'll post here once something is merged for you to take a look at.

[2022-05-18 01:02] teddylear commented on #304
@mattiasbonte Upon looking more into this, I think the issue is that you have to move `ts` to `typescript` and `js` to `javascript`. It looks likes the config for each language in `printf_statements` and `print_var_statements` needs to be the treesitter name for the language, not the filetype. Also the `printf` statements would just have one placeholder like `console.log("🟥 someLog %s");` while `p

[2022-05-18 19:08] mattiasbonte commented on #304
Hey @teddylear, thank you for the quick reply. Changing it to `javascript` and `typescript` does indeed work thank you!

It will now prompt me to select from 2 options. Which makes me wonder why. This happens for both `printf` and `print_var`.
![image](https://user-images.githubusercontent.com/65280774/169135886-dc4f8257-cc24-4d99-8707-229617fb049a.png)
![image](https://user-images.githubuserconte

[2022-05-18 21:10] teddylear commented on #304
@mattiasbonte Let me look into the print var issue mentioned with printing the whole variable, but a responding to few things you mentioned:

- The prompt for custom printf/print_var is intended with giving all print options, but I agree that with one custom printf/print_var being set for a language we should just default to using that. I can make an issue for that

- For the lines left behind for

[2022-05-18 21:11] teddylear opened #305 "Do not prompt for printf/print_var when one custom printf/print_var set for language"
As mentioned in #304, it would be a better user experience if when setting one custom printf or print_var statement for a language it just defaulted to that. If there is more than one, then prompt the user. Ideally if they want the default as an option, they add that to custom as well.

[2022-05-19 06:10] mattiasbonte commented on #304
Some more info regarding the `print_var` functionality.

- I noticed that when my cursor is on the `a` of `archive` and then I select with `v` `llllllll` to select the whole word, it will print out the full `archive` variable.
- But if I select with for example `v` `e` then only the `a` (first letter of selection) is printed.
- If I start my selection on `c` and select with `viw` then only `c` is

[2022-05-20 17:02] pranavrao145 commented on #305
This makes sense to me. I will merge in #307 to fix this.

[2022-05-20 17:03] #305 closed

[2022-05-20 17:05] pranavrao145 commented on #304
Hi @mattiasbonte, thanks for opening an issue. I've just merged in #307 to make sure it doesn't prompt if there's only one custom statement set. If you update your plugins, you should be able to see it now. Take a look and let us know what you think!

[2022-05-20 17:48] teddylear commented on #271
Merged in feature for this, closing.

[2022-05-20 17:48] #271 closed

[2022-05-20 17:49] teddylear commented on #304
@mattiasbonte Also merged in feature to completely remove lines added by printf/print_var on the latest version of plugin.

[2022-05-20 18:50] mattiasbonte commented on #304
You guys are awesome! Ill take a look after the weekend and let you know.

[2022-05-21 08:41] thuan1412 opened #309 "print_var with correct indentation"
Currently, we just set no indentation for print_var function, in Python, it will cause a compile error.

[2022-05-22 16:31] teddylear commented on #304
@mattiasbonte Looking a built points 2 and 3, I have validated they are working as intended for me locally. For bullet point 2 have a test case for this with this [print_var command file](https://github.com/teddylear/refactoring.nvim/blob/master/lua/refactoring/tests/debug/print_var/py/simple-function/print_var.commands#L1-L2) using `ve` commands with [this start file](https://github.com/teddylear

[2022-05-22 16:33] teddylear commented on #309
@thuan1412 Thanks for creating issue! This is something we haven't implemented yet, but something I want as well. I'll try to take a look into this this week.

[2022-05-22 17:34] pranavrao145 commented on #304
@teddylear tried it out and can confirm that `print_var` works as intended for bullet points 2 and 3.

[2022-05-22 21:50] mattiasbonte commented on #304
I have tested this, but it still performed weirdly on my end. I've then changed my keybinding to yours and it looks like its working as expected now!

I've changed `	["<leader>rv"] = { "<CMD>lua require('refactoring').debug.print_var({})<CR>", "Print Variable" },`
To this `	["<leader>rv"] = { "<Esc><Cmd>lua require('refactoring').debug.print_var({})<CR>", "Print Variable" },`

(I'm using the which

[2022-05-22 21:50] #304 closed

[2022-05-23 03:18] teddylear commented on #309
@thuan1412 Merged in something to fix this. Please update the plugin and let me know if there are any issues!

[2022-05-28 16:17] #295 closed

[2022-05-28 16:23] teddylear opened #312 "Make finding var under cursor default behavior for print_var"
As listed in comments in [this PR](https://github.com/ThePrimeagen/refactoring.nvim/pull/308), we should make finding the var under cursor the default behavior so we can `print_var` in normal mode and not need visual mode. Also as a reminder for this issue, update the docs (else I always forget 😢 ).

[2022-05-28 19:40] pranavrao145 commented on #312
@teddylear, so I tried out the new functionality in #308, and I'm realizing now that I didn't quite get what you meant by making this the default behavior. As far as I understand it, the user can map `print_var` in normal mode if they want, and just not use visual mode. Are you saying we should remove the visual mode support, or are you just saying that we should attempt to find the variable under

[2022-05-28 20:46] teddylear commented on #312
@pranavrao145 My understanding from looking at linked PR, is that if you haven't highlighted anything yet (so highlighted region points are all zeros), the new code in the PR runs. Otherwise we go back to the old code. Thats means as soon as you highlighted something in the current buffer, the new code can't run. What I'm proposing is that we remove the old code completely and focus support on the

[2022-05-28 20:47] teddylear commented on #312
So yes, removing visual mode support. But I'm torn on if that's a good idea 😅

[2022-05-29 14:50] pranavrao145 commented on #312
OK so I think we should do it so that, even if they use visual mode, it will still attempt to find the current variable under the cursor (the new code) instead of just printing whatever is under the visual selection (the old code). This way it's not exactly "removing" support for visual mode (i.e. no errors), it's just going to make the behaviour uniform across both modes. I'll draft a PR on this

[2022-05-30 13:14] pranavrao145 commented on #298
Since #308 was merged, I'll close this for now. Thanks for your contributions @thuan1412!

[2022-05-30 13:16] pranavrao145 commented on #108
Since it's been quite a while since #273 was merged, I'll close this issue for now. Please feel free to reopen if necessary.

[2022-05-30 13:16] #108 closed

[2022-05-30 13:17] #89 closed

[2022-05-30 13:18] pranavrao145 commented on #69
Closing this issue for now due to inactivity (plus, a lot of languages have since been added, doesn't make much sense anymore).

[2022-05-30 13:18] #69 closed

[2022-05-30 13:19] pranavrao145 commented on #51
Closing because I think this is a duplicate of #249.

[2022-05-30 13:19] #51 closed

[2022-05-30 13:22] pranavrao145 commented on #23
I'll close this for now due to inactivity. If this is still an issue, please feel free to reopen.

[2022-06-05 14:52] shawnyu5 opened #316 "Print_var no longer prints class attributes"
In javascript, if I have the following code:

[code]

And I highlight `person.name`, and run `:lua require('refactoring').debug.print_var({})` in visual mode. I get

[code]
Where `.name` attribute is not printed.

Expected behaviour:

[code]
It prints out what I selected in visual mode, including the class attributes, with no modification

Not sure if this is a design decision or a bug. I only not

[2022-06-05 17:50] Arjun31415 opened #317 "[Feature] `Incremental Command Preview` usage"
The refactoring plugin could make use of the new feature in nightly for previewing the changes during rename.
A similar plugin which could [inspire](https://github.com/smjonas/inc-rename.nvim)

[2022-06-06 19:56] pranavrao145 commented on #316
Cool, I've gone ahead and reverted #314 - this means that there is still normal mode support (that was in a previous PR), but visually selecting something will not attempt to find the variable anymore and just print whatever is selected (just like before normal mode support was ever introduced).

@shawnyu5 try updating the plugin and let us know if that fixes the problem!

[2022-06-07 02:24] shawnyu5 commented on #316
yes, the behaviour is as expected now. Thanks for the quick fix!

[2022-06-07 02:33] pranavrao145 commented on #316
No problem! I'll close this issue now then.

[2022-06-07 02:33] #316 closed

[2022-06-07 02:37] pranavrao145 commented on #60
For now I'm just going to close this issue due to inactivity, but in case we want to reopen later on to reconsider this we can do that as well.

[2022-06-07 02:37] #60 closed

[2022-06-11 06:28] LamprosPitsillos opened #321 "[Q] Why the use of visual mode?"
Really useful plugin , thanks for maintaining it!
My question is since we have tree-sitter why doesn't the plugin use it in some cases,relying on visual mode instead?
Is there a way to enable this behavior?
For example , i want to have my cursor on the variable and then call the print_var function, instead of selecting it.

[2022-06-12 20:07] teddylear commented on #321
@LamprosPitsillos Thanks for opening issue! We did have a pull request for this and made it the default behavior, but found that it doesn't cover all cases (like printing a field on a specific class, etc) so we ended up reverting it. While this would be the preferred behavior, I don't think we can maintain having this work for all cases and would default to the highlight case as well.

If this is

[2022-06-12 20:09] teddylear commented on #321
This way if we wanted to expand the normal mode `print_var` functionality as well so support these custom use cases, we could do that as well.

[2022-06-12 20:18] LamprosPitsillos commented on #321
That sounds like a great idea!
Also i found out that i can achieve this behavior with treesitters incremental selection.
But it would be great to skip over this "extra step" and go straight to refactoring.

[2022-06-12 22:22] teddylear commented on #321
@pranavrao145 I'll start working on this and PR what I'm thinking so we can discuss there.

[2022-06-22 13:02] d33tah opened #324 "How to bind select_refactor() to a key?"
Thanks for creating the plugin! It works nicely when used through `:` command line. Unfortunately I have no idea how to map it to F6. Here's what I tried:

[code]

I get the menu, but then I get the following error:

[code]

I tried asking on #neovim IRC chat, but unfortunately I got no response there.

[2022-06-22 14:13] teddylear commented on #321
@LamprosPitsillos We recently merged in a change to use this all the time by passsing `{ normal = true}` to the `print_var` function and updated the docs to reflect this. Please let us know if you have any more questions or issues with this, else we'll close this out.

[2022-06-22 16:53] #321 closed

[2022-06-30 23:40] pranavrao145 commented on #324
Hi @d33tah. Thanks for opening an issue. Apologies for the late reply, but I just tried this map and it seems to be working for me. Are you still having this issue?

[2022-07-01 07:59] d33tah commented on #324
@pranavrao145 yup, still having it. Here's my neovim version:

[code]

Let me know if you need any more details.

[2022-07-01 16:25] teddylear commented on #324
@d33tah Please provide which refactor option you selected from `select_refactors` and a code snippet of what you are trying to refactor. We cannot debug from the current provided information.

[2022-07-01 18:35] d33tah commented on #324
@teddylear

Here's a recording:

https://asciinema.org/a/105AndA80LZhtyKhwLtWFx7kO

And here's the codebase:

https://github.com/hakierspejs/ksiemgowy/tree/autocorrect_based_on_reported_balance

I'm ready to provide any more needed information :)

[2022-07-01 22:54] teddylear commented on #324
@d33tah I found the issue. Currently you don't have any region selected because you are still in visual mode when trying to call `Extract Function` and not in normal mode. For most languages this would result in a "Scope is nil" error, but not for python as I just confirmed locally. So that means for `Extract Function` you need to go from visual mode back to normal mode. I can add a check for Extr

[2022-07-07 21:32] teddylear commented on #324
@d33tah I merged a fix to this issue making the error much more clear. I'm going to close this issue for now, please re-open if it's not resolved.

[2022-07-07 21:32] #324 closed

[2022-07-20 09:52] danielo515 opened #331 "Extract block fails for typescript"
Hello.
First, thanks for this plugin, seems to be what I need, albeit I am not yet sure.
For some weird reason, there is no tool when you want to extract a bunch of code to a new file. I'm not talking about a single function, but a group of functions, variables, etc.

I am trying to use Block refactor, but it is always failing everything I tried with typescript. I first tried to refactor a constan

[2022-07-20 11:09] k-times-c commented on #275
Hi all! thank you for this plugin! @andrewferrier I actually asked about this exact feature within primeagen's discord channel a couple days ago, and was referenced here!

One cool project, and strong example of how to implement custom operators in NeoVim is this tpope/vim-surround 2.0 plugin, [kylechui/nvim-surround](https://github.com/kylechui/nvim-surround). See line [nvim-surround/init.vim](ht

[2022-07-22 20:35] pranavrao145 commented on #331
Hi @danielo515

Extract block extracts everything in the current block scope to another function (the block scope is typically the entire function body, though sometimes it changes). Right now, the functionality you're looking for (extracting entire functions themselves to different files, while updating imports) is not supported. The closest thing that exists right now would be "Extract Block/Fun

[2022-07-26 10:03] danielo515 commented on #331
Hello @pranavrao145 , thank you for your answer

That is not exactly what I wanted. What I want is a bit more advanced than that. I wanted to be able to select a visual region, which may include constants, variables, function declarations etc, and extract those into a separate file, adding only the requried exports. So for example, if there is a constant used only by the function that I am moving

[2022-07-27 12:33] teddylear commented on #272
@ofirgall Let me take a look into this, this is something I want as well.

[2022-07-29 18:19] kylechui commented on #275
Hey all, `nvim-surround` author here. I personally don't have any experience with `refactoring.nvim`, but if anybody wants clarification with how the text-object/dot-repeat code works for my plugin, feel free to tag me with any questions :)

[2022-08-03 14:28] aaronmcadam commented on #233
Did anyone have a chance to look into adding support for `typescriptreact`? I don't want to use an autocommand to set  the file type to `typescript` because I don't want to break the LSP.

[2022-08-03 16:48] pranavrao145 commented on #331
Hi @danielo515, sorry for the late reply - but yes, that makes sense. Sadly, we don't have support for that right now, but I will label this as a feature request so we can work on it later on!

[2022-08-21 10:21] mkastner opened #333 "Can't find default keybindings in documentation"
I am wondering whether there exist any default keybindings for refactoring. I couldn't find them in the documentation.

[2022-08-22 04:00] pranavrao145 commented on #333
Hi @mkastner,

There are no default keybindings that come with the plugin, but there are several different ways you can make your own as described in the README. Take a look at the different options (Telescope, in-built selections, direct keymaps), and feel free to post here if you have any questions!

[2022-08-22 05:31] mkastner commented on #333
Hi @pranavrao145,

thanks for the helpful clarification and info.

[2022-08-22 05:32] mkastner commented on #333
Hi @pranavrao145,

thanks for the helpful clarification and info.

[2022-08-22 05:32] #333 closed

[2022-09-01 15:52] IagoQ opened #334 "Error performing any action"
I'm having issues using the plugin anytime that I try to trigger an action this error shows up:
`E5108: Error executing lua ...ck/packer/start/plenary.nvim/lua/plenary/async/async.lua:14: The coroutine failed with this message: ...start/refactoring.nvim/lua/refactoring/pipeline/init.lua
:61: Scope is nil
stack traceback:
        [C]: in function 'error'
        ...ck/packer/start/plenary.nvim/lua/

[2022-09-01 23:05] teddylear commented on #334
@IagoQ Thanks for creating issue! Can you share the config you are using the steps to reproduce issue. I just ran the tests on master and there were to failing ruby tests, but all of Golang should be working.

[2022-09-02 22:07] IagoQ commented on #334
![image](https://user-images.githubusercontent.com/26334181/188241005-51654714-84c7-4208-9f9d-829ac7a45995.png)

for example trying to extract those 3 lines to a function fails with the error

my config is the default one, using the telescope keymap
```require('refactoring').setup({}) ```

```lua require('telescope').extensions.refactoring.refactors()<CR>",```

[2022-09-02 23:26] teddylear commented on #334
@lagoQ Are those lines inside a function? By the indentation I'm assuming so. If not, please let me see more of the file you are working on if possible because it's most likely a missing scope in the plugin for golang. Also, are you going to from visual mode back to normal mode before calling the telescope command? The plugin requires doing so so that the text selection works.

[2022-09-03 15:36] IagoQ commented on #334
After a little more testing i've discovered that it only fails on files that use go generics (and not always) it seems that sometimes the new generic syntax bugs out the treesitter making it parse the file wrong, the color for some token changes when I add or remove the generic line. I have all my parsers up to date, It seems that the go parser isn't updated to support generics?

[2022-09-03 16:13] teddylear commented on #334
@IagoQ It is likely that the  refactoring plugin is missing the treesitter query for the go generics syntax. Can you provide a code example (before and after) of what you are trying to extract with using generics? I can use that to create a test and add the query for this new functionality.

[2022-09-03 20:49] IagoQ commented on #334
After some tinkering I seem to have it reduced as much as I could.
[test.zip](https://github.com/ThePrimeagen/refactoring.nvim/files/9483359/test.zip)

This (after creating a go mod file) seems to be enough to break the highlighting and make the refactoring fail.
![image](https://user-images.githubusercontent.com/26334181/188287199-6e5306d3-5854-45d7-be92-05c693476fb3.png)

Notice that after remov

[2022-09-06 13:24] AckslD commented on #46
Just tried this again and seems to be fixed :)

[2022-09-06 13:24] #46 closed

[2022-09-06 13:27] AckslD opened #338 "Multiple return values in extracted python function"
Lets say you have the python buffer:
[code]
and the two first lines visually selected (assignment of the variables) and extract a function with name `func`. I then get
[code]
where the function is correct however it's return value is then assigned to `a` instead of `a, b = func()`.

[2022-09-12 09:35] davemackintosh commented on #334
I am also seeing this error when trying to refactor things in Lua and in Go.

[2022-09-12 12:28] ThePrimeagen commented on #334
looks like we haev ourselves a bit of an issue!

i am going to be coming back online for this project in the next couple of weeks.  So i will be reviewing and hopefully creating a lot more functionality :)  this can be one of the first things i look at.

[2022-09-12 12:29] davemackintosh commented on #334
Thanks! I'll try to take a look later too to help debug.

[2022-09-19 16:55] jeffschwartz commented on #334
I don't know if this is related or not but every action I take with refactoring ends in this:
[code]
My config:
[code]
The code that I am attempting to refactor (extract block) is the `markerFindAndReplaceContent` function from the following file:
[code]

[2022-09-20 21:10] Mathijs-Bakker commented on #250
**Rust Analyzer** offers ``Extract to Function``.
In Neovim you can set up Code Actions to show the extract function in Visual mode.

Eg:
[code]

**From the Rust Analyzer manual:**
https://rust-analyzer.github.io/manual.html

Before:
[code]

After:
[code]
Note: Cursor position or selection is signified by **┃** character.

[2022-09-21 00:57] teddylear commented on #334
@IagoQ Sorry just getting back to this, but thank you for the code snippets and info. I can try to get a test case with this working this week, but from what you're describing it sounds like the `golang` treesitter parser may not support generics yet. If this is the case I can validate that and try to make an issue on the upstream parser (though they may have added support for it by now).

@jeffsc

[2022-09-21 06:23] emmanueltouzery commented on #250
@Mathijs-Bakker thank you, this looks great! however this did not work for me on that sample, it only offers me refactorings such as change the format of the 2 to hex, or change let to if let. i have the latest version of rust-analyzer. 2022-09-19
I realize i'm a littel off-topic here, but did you set up anything in particular in your:
[code]
to get this to work? thank you!

[2022-09-21 08:17] Mathijs-Bakker commented on #250
@emmanueltouzery

I am using **rust-tools.nvim**
https://github.com/simrat39/rust-tools.nvim

For the setup options:
[code]

I have a default setup.

But for the **rust-analyzer** settings I have this:

[code]

The whole setup:
https://github.com/Mathijs-Bakker/dotfiles/blob/master/nvim/lua/lsp/rust.lua

Hope you get it to work!

[2022-09-21 15:09] ThePrimeagen commented on #250
btw, i am likely to start making rust / ts better.  so,... its on my radar.

its just open source is so... its so open source.

[2022-09-21 15:24] Mathijs-Bakker commented on #250
@emmanueltouzery @ThePrimeagen

How it's working now (without refactor plugin):

**Extract into Function**
https://www.youtube.com/watch?v=i-ftg90GEEw

[2022-09-22 21:45] trevorwhitney opened #339 "Extract Variable broken for Go"
Error
[code]

Code
[code]

Visual selection on `"sum(metric)", selected the "Extract Variable" refactor.

[2022-09-22 21:55] trevorwhitney commented on #339
I'm using the telescope extension with the following mapping:
[code]

[2022-10-17 19:58] mattiasbonte commented on #233
Ran into the same issue today. Does anyone have a workaround?

[2022-10-21 15:53] nitnelave opened #341 "Extracting a string to a variable in C++ empties the string"
In the following code:

[code]

If I select the string and extract it to a variable, I'll end up with:

[code]

This is also the case if I try to refactor the whole expression into a variable:

[code]

[2022-10-21 16:01] nitnelave commented on #341
Oh, and if you extract a string it replaces all the strings in the file with the variable, regardless of their value.

[2022-10-21 16:05] nitnelave commented on #341
And one more in the same theme: It didn't replace `"\n"` with the variable. If I try to extract `"\n"` to a variable, I get "Extract var unable to determine its containing statement within the block scope, please open issue" :)

[2022-10-30 03:43] SaschaDoe opened #342 "Refactorings for c#"
Hey, it World be nice to have Code refactorings for c# too.

[2022-11-10 18:37] maximyurevich opened #343 "Refactoring for Go and Lua"
Refactoring for go and lua doesn't working for extract variable

[2022-11-20 02:35] Tantol commented on #342
Man can we have some coconut oil for c# blazingly fast coding?

[2022-11-27 03:54] ariel-frischer commented on #233
Also running into this, if there is a setup config change that could fix this, it would be appreciated.